@model EscuelaViewModel

@{
    ViewData["Title"] = "School Information";
    Layout = "Simple";
}

<h1>Escuela </h1>
<h2>Nombre: @Model.Nombre</h2>
<h3>Tipo de Escuela: @Model.TipoEscuela</h3>
<address>
    <p>Dirección: @Model.Direccion</p>
    <p>Pais: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>
<p><strong>Año fundacion: @Model.AnioFundacion</strong></p>
